/* First, import the font if it's not already in your project */
@font-face {
    font-family: 'ShmulikCLM';
    src: url('../fonts/ShmulikCLM.ttf') format('truetype'); /* Adjust the path as needed */
}

.shabbat-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    font-family: 'ShmulikCLM', Arial, sans-serif; /* Added font-family */
}

.wave-content {
    position: relative;
    z-index: 2;
    width: 80%;
    margin-left: auto;
    padding: 2rem;
    color: #000000;
    direction: rtl;
    font-family: 'ShmulikCLM', Arial, sans-serif;
}

.orange-wave {
    right: 0;
    top: 0;
    bottom: 0;
    background: #febd59;
    border-radius: 60% 40% 0 80%;
    
}

/* Additional styling for text elements */
.shabbat-times, .shabbat-prayer {
    font-family: 'ShmulikCLM', Arial, sans-serif;
}