@font-face {
  font-family: 'ShmulikCLM';
  src: url('../fonts/ShmulikCLM.ttf') format('truetype');
}
* {
  font-family: 'ShmulikCLM';
}
body {
  font-family: 'ShmulikCLM';
  margin: 0;
  padding: 0;
}
.sx-react-calendar-wrapper {
  width: 1200px;
  max-width: 100vw;
  height: 800px;
  max-height: 90vh;
}
